{% extends 'public/base.html' %}
{% load i18n static %}

{% block title %}LinkUp | {% trans "register"|title %}{% endblock %}

{% block content %}
	<div class="login-logo">
      {% block logo_text %}
      	<a href="{% url 'login:indexlogin'%}">
      			<img src="{% static "dashboard/dist/img/logo.png" %}" class="responsive-img">
      	</a>
      {% endblock %}
    </div>
	<form class="register-client-form" action="{{sellers_form}}" method="POST" enctype="multipart/form-data" >
		{% csrf_token %}		
		
		<div class="container">
  			<div class="row">
				{{ form.non_field_errors }}

				<div class="col-xs-12 col-md-3">
					<div class="form-group input-form-control col-xs-12">
			            {% include 'admin/lib/_frame_profile_img.html' %}
			        </div>

			        <div class="col-xs-12">
			        	<div class="input-form-control">
			        		{{form.type_client.errors }}
			        		{{form.type_client}}
			        		
		            	</div>
			        </div>
				</div>
				<div class="col-xs-12 col-md-3">
					<div class="input-form-control">
						{{form.last_name.errors }}
						{{form.last_name}}
						
		            </div>
					<div class="input-form-control">
						{{form.first_name.errors }}
						{{form.first_name}}
						
		            </div>
					<div class="input-form-control">
						{{form.sex.errors }}
						{{form.sex}}
						
		            </div>
					<div class="input-form-control">
						{{form.nick.errors }}
						{{form.nick}}
						
		            </div>
					<div class="input-form-control">
						{{form.password.errors }}
						{{form.password}}
						
		            </div>
					<div class="input-form-control">
						{{form.repassword.errors }}
						{{form.repassword}}
						
		            </div>
					<div class="input-form-control">
						{{form.document_type.errors }}
						{{form.document_type}}
						
		            </div>
					<div class="input-form-control">
						{{form.document_number.errors }}
						{{form.document_number}}
						
		            </div>
					<label class="first-cap">
							{{form.civil_state.label}}		            
					</label>
					<div class="input-form-control">
						{{form.civil_state.errors }}
						{{form.civil_state}}
						
		            </div>
					<label class="first-cap">
						{{form.birthdate.label}}
					</label>
					<div class="input-form-control">
						{{form.birthdate.errors }}
						{{form.birthdate}}
						
		            </div>
					<label class="first-cap">
							{{form.nationality.label}}
					</label>
					<div class="input-form-control">
						{{form.nationality.errors }}
						{{form.nationality}}
						
		            </div>
				</div>
				<div class="col-xs-12 col-md-3">
					<label class="first-cap">
							{{form.residence_country.label}}
					</label>
					<div class="input-form-control">
						{{form.residence_country.errors }}
						{{form.residence_country}}
						
		            </div>
					<div class="input-form-control">
						{{form.street.errors }}
						{{form.street}}
						
		            </div>
					<div class="input-form-control">
						{{form.department.errors }}
						{{form.department}}
						
		            </div>
					<div class="input-form-control">
						{{form.province.errors }}
						{{form.province}}
						
		            </div>
					<div class="input-form-control">
						{{form.district.errors }}
						{{form.district}}
						
		            </div>
					<div class="input-form-control">
						{{form.foreign_address.errors }}
						{{form.foreign_address}}
						
		            </div>
					<div class="padT6"></div>
					<div class="input-form-control">
						{{form.email_exact.errors }}
						{{form.email_exact}}
						
		            </div>
					<div class="input-form-control">
						{{form.telephone.errors }}
						{{form.telephone}}
						
		            </div>
					<div class="input-form-control">
						{{form.cellphone.errors }}
						{{form.cellphone}}
						
		            </div>
					<div class="input-form-control">
						{{form.ciiu.errors }}
						{{form.ciiu}}
						
		            </div>
					<label class="first-cap">
							{{form.activity_description.label}}
					</label>
					<div class="input-form-control">
						{{form.activity_description.errors }}
						{{form.activity_description}}
						
		            </div>

				</div>
				<div class="col-xs-12 col-md-3">
					<label class="first-cap">
							{{form.level_instruction.label}}
					</label>
					<div class="input-form-control">
						{{form.level_instruction.errors }}
						{{form.level_instruction}}
						
		            </div>

					<div class="input-form-control">
						{{form.institute.errors }}
						{{form.institute}}
						
		            </div>

					<label class="first-cap">
							{{form.profession.label}}
					</label>
					<div class="input-form-control">
						{{form.profession.errors }}
						{{form.profession}}
						
		            </div>


					<label class="first-cap">
							{{form.ocupation.label}}
					</label>
					<div class="input-form-control">
						{{form.ocupation.errors }}
						{{form.ocupation}}
						
		            </div>


					<label class="first-cap">
							{{form.about.label}}
					</label>
					<div class="input-form-control">
						{{form.about.errors }}
						{{form.about}}
						
		            </div>
				</div>

				<div class="text-center col-xs-12 marT20">
					<button type="submit" class="btn btn-lightBlue">{% trans "Sing In"|title %}</button>
				</div>
			</div>
		</div>
		

        

	</form>
{% endblock %}


{% block extra_head %}
  <link rel="stylesheet" href='{% static "dashboard/cropper/dist/cropper.css" %}' >
{% endblock extra_head %}


{% block extra_foot %}
  <script src='{% static "dashboard/cropper/dist/cropper.min.js" %}' ></script>
  {% include 'admin/lib/_cropper.html' %}
  {% include 'admin/lib/_main_scripts.html' %}
  {% include 'public/lib/_register_script.html' %}  
  <script src='{% static "login/js/client.js" %}' ></script>
{% endblock extra_foot %}