{% extends 'admin/account_status/account_status_list.html' %}
{% load i18n adminlte_helpers static %}

{% block extrahead %}{{ block.super }}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock %}


{% block filters_table %}
	<div class="col-xs-12 marB10">
			
			<div class="filters">			
				{% if form_filters.from_date %}
			        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
			            {{ form_filters.from_date.label_tag }}
			            {{ form_filters.from_date }}
			            {{ form_filters.from_date.errors }}
			        </div>
			    {% endif %}
			    {% if form_filters.until_date %}
			        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
			            {{ form_filters.until_date.label_tag }}
			            {{ form_filters.until_date }}
			            {{ form_filters.until_date.errors }}
			        </div>
			    {% endif %}
			    {% if form_filters.seller %}
			        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
			            {{ form_filters.seller.label_tag }}
			            {{ form_filters.seller }}
			            {{ form_filters.seller.errors }}
			        </div>
			    {% endif %}
			    {% if form_filters.show_sum_column %}
			        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
			            {{ form_filters.show_sum_column.label_tag }}
			            {{ form_filters.show_sum_column }}
			            {{ form_filters.show_sum_column.errors }}
			        </div>
			    {% endif %}
			    

				<div class="col-xs-12 text-center">
					<button type="submit" class="btn btn-flat btn-black">{% trans "send"|title %}</button>
					<button type="button" class="btn btn-flat btn-default cleatFilter">{% trans "clear"|title %}</button>
				</div>
			</div>

	</div>
{% endblock filters_table %}

{% block info_user %}
	{% if data_user %}
		<div class="col-xs-12">
			<div class="cont-info-user text-center padL40 padR40 pull-left marR15 without-border" >
		      {% if data_user.photo and data_user.photo != "preview.png" %}
		        <img src="{{data_user.photo}}" class="img-circle">
		      {% else %}
		        <img src="{% static "dashboard/dist/img/profile.png" %}" class="img-circle">
		      {% endif %}

			</div>
			<div class="pull-left span-block padT10 marR15" >
		      
		        {% if data_user.first_name or data_user.last_name %}
		          <span class="size18">{{data_user.first_name}} {{data_user.last_name}}</span>
		        {% endif %}
		        {% if data_user.nick %}
		          <span>{% trans "nick"|title %} {{data_user.nick}}</span>
		        {% endif %}
		        {% if data_user.code %}
		          <span>{{data_user.code}}</span>
		        {% endif %}

		        {% if data_user.email_exact %}
		          <span>{{data_user.email_exact}}</span>
		        {% endif %}
		    </div>
		    <div class="pull-left span-block padT10 marR15" >

		        {% if data_user.cellphone %}
		          <span>{% trans "cellphone"|title %}: {{data_user.cellphone}}</span>
		        {% endif %}
		        {% if data_user.telephone %}
		          <span>{% trans "phone"|title %}: {{data_user.telephone}}</span>
		        {% endif %}
		     
		        {% if data_user.address %}
		          <span>
		            <i class="fa fa-home"></i>                
		            {{data_user.address.street}} - 
		            {{data_user.address.department_name}} |
		            {{data_user.address.province_name}} | 
		            {{data_user.address.district_name}}
		          </span>
		        {% endif %}
		    </div>
		    <div class="pull-right">
				<button type="button" class="btn btn-flat btn-black toggleFilter">{% trans "filter"|title %}</button>
			</div>
		</div>
	{% endif %}
{% endblock info_user %}