{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}

{% block meta %}
{{ block.super }}
<link rel="stylesheet" href="{% static "frontend/dist/css/messages-list.css" %}">
<link rel="stylesheet" href="{% static "frontend/client/css/client.css" %}">
{% endblock %}



{% block content_left_slide %}
    {% url 'frontend:chat-client' pk=0 as urlchat%}
<div class="info-div" data-urlchat='{{urlchat}}'>
        <div class="list-group" id="list_categories">
            <!--print categories-->
        </div>

  <div id="chosen-plan" data-id="">
        <h4> {% trans "query plans"|title %} </h4>
        <button type="button" class="btn btn-primary" data-toggle="modal"
         data-target="#changePlan">
          {% trans "change plan"|title %}
        </button>
        <p id="plan_name"></p>
      <p>{% trans "availables"|title %}:
        <span id="queries"></span>
      </p>
      <p>{% trans "expiration date"|title %}:
        <span id="expiration_date"></span>
       </p>
  </div>
</div>

{% include 'frontend/lib/modals/change_chosen_plan.html' %}
{% endblock content_left_slide %}



{% block scripts_custom %}
    <script src="{% static "frontend/client/js/categories-ref.js" %}"></script>
{% endblock scripts_custom %}
