{% extends 'frontend/actors/client/base_client.html' %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "frontend/dist/css/chat.css" %}">
{% endblock %}

{% block main_content %}
    {% include 'frontend/chat.html' %}
{% endblock main_content %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static "frontend/dist/js/reconnecting-websocket.min.js" %}"></script>
  <script type="text/javascript">
      var token = '{{request.session.token}}';
      var url_send_query = '{% url "frontend:send-query" %}';
  </script>
  <script src="{% static "frontend/dist/js/chat.js" %}"></script>
  <script src="{% static "frontend/client/js/chat.js" %}"></script>
  <script src="{% static "frontend/dist/js/upload_file.js" %}"></script>
{% endblock %}
