{% extends 'frontend/actors/client/base_client.html' %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "frontend/dist/css/match.css" %}">
{% endblock %}

{% block main_content %}
    {% include 'frontend/match_detail.html' %}
{% endblock main_content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
      var token = '{{request.session.token}}';
  </script>
<script src="{% static "frontend/dist/js/match.js" %}"></script>
{% endblock %}