
{% extends 'frontend/actors/client/base_client.html' %}
{% load static %}
{% load i18n %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "frontend/dist/css/plans.css" %}">
{% endblock %}

{% block main_content %}
<div id="plan-list" class="container-fluid">
  {% for plan in plans %}

  <a href={% url 'frontend:active-plan' plan.id %}>
    <div class="row plan-box plan-box-link">
      <div class="col-8">
        <div class="plan-title">{{ plan.plan_name }}</div>
        <div class "plan-info">
          {% blocktrans trimmed count quantity=plan.query_quantity %}
          {{ quantity }} consulta
          {% plural %}
          {{ quantity }} consultas
          {% endblocktrans %}<br />
          {% blocktrans trimmed count validity=plan.validity_months %}
          Validez {{ validity }} mes
          {% plural %}
          Validez {{ validity }} meses
          {% endblocktrans %}
          <div class="plan-price">S/. {{ plan.price }}</div>
        </div> <!-- Plan main info -->
      </div><!-- Plan info  -->
      <div class="col-4 plan-status">
        {% ifequal plan.status 1 %} Pago pendiente {% endifequal %}
        {% ifequal plan.status 2 %} Esperando por tu PIN de ACTIVACION {% endifequal %}
        {% ifequal plan.status 3 %} Ingresa tu PIN {% endifequal %}
        {% ifequal plan.status 4 %} En uso {% endifequal %}
        {% ifequal plan.status 5 %} Finalizado {% endifequal %}
      </div> <!-- Plan status -->
    </div> <!-- Plan Box -->
  </a>
    
  {% endfor %}
</div>
{% endblock main_content %}

