{% extends 'frontend/actors/client/base_client.html' %}
{% load static i18n %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "frontend/dist/css/plans.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "frontend/dist/css/purchase.css" %}">
{% endblock %}
{% block javascript %}
{{ block.super }}
    <script src="{% static "frontend/dist/js/purchase.js" %}"></script>
{% endblock %}

{% block main_content %}
<div id="plan-list" class="container-fluid">

    {% for plan in plans %}
        

        <div class="plan-cell" data-clasification="{{plan.clasification}}" >
            <input type="checkbox" name="vehicle" value="{{plan.id}}" class="checkbox-plan" >
            <div class="plan-title">{{plan.name}}</div>
            <div class="white">

            {% blocktrans trimmed count quantity=plan.query_quantity %}
                {{ quantity }} consulta
                {% plural %}
                {{ quantity }} consultas
            {% endblocktrans %}<br />
            {% blocktrans trimmed count validity=plan.validity_months %}
                Vigencia {{ validity }} mes
                {% plural %}
                Vigencia {{ validity }} meses
            {% endblocktrans %}
              <div class="plan-price">S/. {{plan.price}}</div>
            </div> <!-- Plan main info -->
        </div>
    {% endfor %}

        <div class="clasification-plan">
            <span>Grandes Empresas</span>
            Contáctanos por Planes a Medida.
        </div>

        <div class="contact">
            <a class="a-white" href="{% url 'frontend:contact-client' %}">
                <i class="fas fa-envelope"></i>
                Contactar
            </a>
        </div>
    <div class="col-xs-12"> 
        <button id="next" type="button" class="btn btn-primary btn-block">Siguiente</button> 
    </div>
</div>

<div class="hidden" class="container-fluid">
    <h3>Modalidad de Pago</h3>
    <ul class="nav nav-tabs">
            <li class="active"><a href="#contado">Pago al Contado</a></li>
            <li><a href="#credito">Pago al Credito</a></li>
    </ul>

    <div class="tab-content">    
        <div id="contado" class="tab-pane fade in active">
            <h3>Al Contado</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div id="credito" class="tab-pane fade">
            <h3>Al Credito</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
         </div>
    </div> 
</div>
{% endblock main_content %}
