
{% extends 'frontend/actors/client/base_client.html' %}
{% load static i18n %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "frontend/dist/css/plans.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "frontend/dist/css/purchases.css" %}">
{% endblock %}

{% block main_content %}
<div id="plan-list" class="container-fluid">
	<div class="purchases">Planes de consultas</div>
	<div class="purchases">Servicio de contratación de especialistas</div>
	<div class="purchases">Bolsa de trabajo
		<span class="purchase_soon">PROXIMAMENTE</span></div>
	<div class="purchases">Gestión de talentos
		<span class="purchase_soon">PROXIMAMENTE</span></div>
	<div class="purchases">Avisaje publicitario
		<span class="purchase_soon">PROXIMAMENTE</span></div>
	<div class="purchases">Franquicias
		<span class="purchase_soon">PROXIMAMENTE</span></div>
</div>
{% endblock main_content %}
