{% extends 'frontend/actors/client/base_client.html' %}
{% load static i18n %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "frontend/dist/css/plans.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "frontend/dist/css/purchase.css" %}">
{% endblock %}
{% block javascript %}
{{ block.super }}
    <script src="{% static "frontend/dist/js/purchase.js" %}"></script>
{% endblock %}

{% block main_content %}
<div id="plan-list" class="container-fluid">

    {% for plan in plans %}
        

        <div class="plan-cell" data-clasification="{{plan.clasification}}" >
            <input type="checkbox" name="vehicle" value="{{plan.id}}" data-quantity="{{plan.query_quantity}}"
             class="checkbox-plan" data-name="{{plan.name}}" data-validity="{{plan.validity_months}}" data-price="{{plan.price}}" >
            <div class="plan-title">{{plan.name}}</div>
            <div class="white">

            {% blocktrans trimmed count quantity=plan.query_quantity %}
                {{ quantity }} consulta
                {% plural %}
                {{ quantity }} consultas
            {% endblocktrans %}<br />
            {% blocktrans trimmed count validity=plan.validity_months %}
                Vigencia {{ validity }} mes
                {% plural %}
                Vigencia {{ validity }} meses
            {% endblocktrans %}
              <div class="plan-price">S/. {{plan.price}}</div>
            </div> <!-- Plan main info -->
        </div>
    {% endfor %}

        <div class="clasification-plan">
            <span>Grandes Empresas</span>
            Contáctanos por Planes a Medida.
        </div>

        <div class="contact">
            <a class="a-white" href="{% url 'frontend:contact-client' %}">
                <i class="fas fa-envelope"></i>
                Contactar
            </a>
        </div>
    <div class="col-xs-12"> 
        <button id="next" type="button" class="btn btn-primary btn-block">Siguiente</button> 
    </div>
</div>

<div id="modality-payment" class="container-fluid hidden">
    <div class="m-pay">
            <button id="back" type="button" class="btn btn-link btn-xs"> Regresar</button>
        <h3>Modalidad de Pago</h3>
    </div>
    <ul class="nav nav-tabs">
            <li class="active"><a href="#contado">Pago al Contado</a></li>
            <li><a href="#credito">Pago al Credito</a></li>
    </ul>

    <div class="tab-content overflow-auto">    
        <div id="contado" class="tab-pane fade in active">
                
        </div>
        <div id="credito" class="tab-pane fade">
          
         </div>
    </div> 
<div id="bottom" class="row">
        <div id="total-section" class="col-6 col-sm-8">
            Total<br />
            <div id="total"></div>
        </div>
        <div id="button-box" class="col-6 col-sm-4"><button id="summary-button">Ver Resumen</button></div>
        </div> 
</div>
{% endblock main_content %}
