{% load static i18n %}

<div id="content-chat" >

    <!-- HEADER CHAT CLIENT -->
    <div class="bar-grey">
        <div class="row">
            <div class="col-xs-12">
                <i class="fas fa-angle-left"></i>
                <div class="img-category" style="float:right">
                    <div style="display:inline-block">{% trans speciality.name|title %}</div>
                    <img src="{{speciality.image}}"
                    style="height: 45px;" alt="">
                </div>
            </div>
        </div>
    </div>
    <div id="chat_box" class="container-fluid">
        {% for message in messages %}
        <div class="row globe-chat">
            <div class="cont-title-query" style="display: none">
                <div class="title-query">
                    {{message.query.title}}
                </div>
            </div>
            <div class="message col-sm-6 col-sm-offset-6" data-category="{{message.query.category_id}}"
            data-sender="{{message.user_id}}" data-timemessage="{{ message.time_message}}" data-query="{{message.query.query_id}}">
                <div class="row">
                    <div class="col-sm-12"><p class="text">{{ message.message }}</p></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="code-user">{{ message.code }}</p>
                    </div>
                    <div class="col-sm-6">
                        <p><small class="time"> </small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<div class="box-send-message">
        <div id="animacion" class="hidden">
            <div class="ball"></div>
            <div class="ball1"></div>
        </div>
      <form id="form-chat" action="" method="post">
        <div id="upload-div" class="hidden">
           <div class="file-loading">
            <label>Preview File Icon</label>
            <input id="file-upload"  name="file-upload[]" type="file" multiple>
        </div>
      </div>
            {% if request.user.role.id == ROLES.client  %}
             <div class="title-box">
                 {{ form.title.label_tag }}
                 {{ form.title }}
                <!-- <label for="title_query" style="color: white;">{% trans "title"|title %}</label> -->
                <!-- <input type="text" class="form-control" id="title_query" placeholder='{% trans "Write your query" %}'> -->
            </div>
            {% endif %}
            <div class="send-message-cont">
                <div class="cont-input-send-text-message col-xs-10">
                    {{ form.message }}
                    <!-- <input type="text" class="form-control" id="text_message" placeholder='{% trans "Send your message" %}'> -->
                </div>
      <button type="button" class="btn paperclip">
        <i class="fas fa-paperclip"></i>
       </button>
          <button type="submit" id="send-query" class="btn btn-default">{% trans "send"|title %}</button>
            </div>
        </form>
    </div>
</div>
