{% load static i18n %}

<div id="content-chat" >

    <!-- HEADER CHAT CLIENT -->
    <div class="bar-grey">
        <div class="row">
            <div class="col-xs-12">
                <i class="fas fa-angle-left"></i>
                <div class="img-bar-grey" style="float:right">
                    <div style="display:inline-block">{% trans speciality.name|title %}</div>
                    <img src="{{speciality.image}}"
                    style="height: 45px;" alt="">
                </div>
            </div>
        </div>
    </div>
    <div id="chat_box" class="container-fluid">
        {% for message in messages %}
        <div data-title-query="{{message.query.title}}" id="message_{{ message.id }}" class="row globe-chat">
            <div class="cont-title-query" style="display: none">
                <div class="title-query">
                    {{message.query.title}}
                </div>
            </div>
            <div class="message col-sm-6 col-sm-offset-6" data-category="{{message.query.category_id}}"
            data-sender="{{message.user_id}}" data-timemessage="{{ message.time_message}}" data-message="{{message.id}}" data-query="{{message.query.query_id}}">
                
                <div class="dropdown chat-angle-down">
                  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item query-event-reply" href="#">Responder</a>
                    <a class="dropdown-item query-event-derive" href="#">Derivar</a>
                  </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        {% if message.content_type == 1 %}
                            <div class="chat-text-thumb chat_play_medias">
                                <p class="text">{{ message.message }}</p>
                            </div>
                        {% elif message.content_type == 2 %}
                            <div class="chat-img-thumb chat_play_medias"
                            data-file-url="{{message.file_url}}">
                                <img src="{{message.file_preview_url}}">
                            </div>
                        {% elif message.content_type == 3 %}                            
                            <div class="chat-video-thumb chat_play_medias" data-file-url="{{message.file_url}}">
                                <img src="{{message.file_preview_url}}">
                                <div class="play-video">
                                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="Page-1" fill="none" fill-rule="evenodd"><g id="media-play" transform="translate(4 2.5)" fill="#FFF"><path d="M15.5 7.9L2.5.4C1.2-.3.1.3.1 1.8v15c0 1.5 1.1 2.1 2.4 1.4l13-7.5c1.3-.9 1.3-2.1 0-2.8z" id="Path"></path></g></g></svg>
                                </div>
                            </div>
                        {% elif message.content_type == 4 %}
                            <div class="chat-audio-thumb text-center">
                               <audio controls>
                                  <source src="{{message.file_url}}" type="audio/ogg">
                                  <source src="{{message.file_url}}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </div>
                        {% elif message.content_type == 5 %}
                            <div class="chat-file-thumb text-center">
                                <i class="fas fa-file"></i>
                                <a href="{{message.file_url}}">Descargar Archivo</a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row marT10 message-footer">
                    <div class="col-sm-6">
                        <p class="code-user">{{ message.code }}</p>
                    </div>
                    <div class="col-sm-6">
                        <p><small class="time"> </small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="box-send-message">
        <div id="animacion" class="hidden">
            <div class="ball"></div>
            <div class="ball1"></div>
        </div>

        <!-- Plugin File Input -->

        <div id="upload-div" class="hidden">
            <!-- <div class="file-loading"> -->
                <form id="form_query_files" enctype="multipart/form-data">  <label>Preview File Icon</label>
                    <input id="file-linkup"  name="file-linkup[]" type="file" multiple>
                </form>
            <!-- </div> -->
        </div>

        <form id="form-chat" action="" method="post" autocomplete="off">
            {% if request.user.role.id == ROLES.client  %}

             <div class="title-box" style="display: none;" id="title_query_content">
                <span id="close_query" >X</span>
                 {{ form.title.label_tag }}
                 {{ form.title }}
            </div>
            {% endif %}

            <!-- Responder a un mensaje o Reconsulta -->
            <div id="selection_message_alert" style="display: none;">
                <p>
                    {% blocktrans %}
                        Pre-select the query that you are going to answer
                    {% endblocktrans %}
                    <!-- Seleccionar previamente la consulta que vas a responder -->
                </p>
            </div>
            <div id="reply-content" style="display: none;">
                <span class="reply-borde">
                </span>
                <div class="reply-message-reference">
                    <div class="message-reference-title" role="">
                        
                    </div>
                    <div class="message-reference-message">
                        
                    </div>
                </div>
                <div class="close-reply">
                    <i class="fas fa-times"></i>                    
                </div>
            </div>


            <div class="send-message-cont">
                <div class="cont-input-send-text-message col-xs-10">
                    {{ form.message }}
                    <!-- <input type="text" class="form-control" id="text_message" placeholder='{% trans "Send your message" %}'> -->
                </div>

                <button id="img" class="btn pick pick-file" type="button">
                    <i class="far fa-image"></i>
                </button>

                <button id="doc" class="btn pick pick-file" type="button">
                    <i class="fas fa-file"></i>
                </button>

                <button id="send-query" class="btn pick">
                    <i class="fas fa-arrow-right"></i>
                </button>

            </div>
        </form>
    </div>
</div>
{% include 'frontend/lib/modals/play_medias.html' %}