{% load i18n %}

<form action="." method="post">
  <div class="container-fluid">
    <div class="row">

      <div class="field-wrapper col-8 offset-2">
         <h3> En que podemos ayudarte?</h3>
        </div>
      {% csrf_token %}
      {% for field in form %}
        <div class="field-wrapper col-8 offset-2">
          {{ field.errors }}
          {{ field }}
          {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="row field-wrapper">
      <button class="btn btn-xs btn-ligth-blue cap col-2 offset-5" type="submit" value="Submit">
      {% trans "Send"|title %}
      </button>
    </div>
  </div>
</form>
