{% load i18n %}

{% block content %}
<!-- content match -->

    <!-- HEADER Match -->

    {% if match_list %}
    
    <div id="list-match-content" class="list-group" >
    
      {% for match in match_list %}
        <div class="match list-group-item" data-time="{{ match.date}}" data-status="{{ match.status }}">
                {% if match.status == 5 %}
                  <img src="{{ match.specialist.photo }}" style="border-radius:50%;" alt="foto-especialista">

                  <p style="float: right;">
                    <small class="time"> </small>
                  </p>
                   {{match.specialist.email_exact}} 
                   <br>
                   {{match.specialist.code}}
                   <br>
                   Especialidad: {{match.category}}
                   <p class="status"> </p>
                {% else %}
                  <img src="{{ match.category_image }}" alt="imagen-especialidad">
                  <p style="float: right;">
                    <small class="time"> </small>
                  </p>
                  Especialidad: {{match.category}}
                  <p class="status"> </p>
                {% endif %}
            <a href="{% url 'frontend:match-client-detail' pk=match.id %}">Ver Detalle</a>
        </div>
      {% endfor %}

    </div>
    {% else %}
      <p>{% trans "Empty"|title %}.</p>
    {% endif %}        
{% endblock %}