{% load i18n %}

{% block content %}
<!-- content match -->
<div class="panel panel-default match-detail container-fluid width-auto" data-time="{{ match.date}}" data-status="{{ match.status }}">
        <div class="row">
            <div class="col-xs-4">
                <img src="{{ match.category_image }}" class="img-responsive" alt="">
            </div>
            <div class="col-xs-8">
                <h3>  {{match.category}} </h3>
            </div>     
        </div>
    <hr>
    <div>
        <p style="float: right;">
                <small class="time"> </small>
                </p>
        <p class="status"> </p>
    </div>
   <hr> 
    <div>
        <h4>Descripción de tu caso</h4>
        <p>
            {{ match.subject}}
        </p>

    </div>
</div>


{% endblock %}