{% load static i18n %}

<div id="summary" class="container-fluid">
  <div class="row summary-title">
    <div class="col-12">Lugar de pago</div>
  </div>
  <div class="row summary-info">
    <div class="col-12 ">
      BANCO DE CREDITO DEL PERU<br />
      PYMPACK S.A.C.<br />
      RUC: 20600889177<br />
      N° de Cuenta Soles: 194-2267910-0-80<br />
      CCI: 00219400226791008094<br />
      N° de Cuenta Dolares: 194-2258223-1-42<br />
      CCI: 00219400225822314294
    </div>
  </div>
  <div class="row summary-title">
    <div class="col-12">Productos comprados</div>
  </div>
  <div id="purchased-products" class="row">
    {% for product in products %}
      <div class="product-box">
        {% if product.photo %}
          <div class="col-4"><img src="{{ product.photo }}" /></div>
        {% endif %}  
        <div class="col-{% if product.photo %}8{% else %}12{% endif %} product-info summary-info">
          {{ product.name }}<br />
          {% if product.total_queries %}
            {{ product.total_queries }} consultas
            {% if product.fee_queries and not product.payed %}
               - Obtendras {{ product.fee_queries }}  consultas
            {% endif %}
            <br />
          {% endif %}
          {% if product.validity %}
            Validez {{ product.validity }} meses<br />
          {% endif %}
          {% if product.date %}
            Solicitado el {{ product.date }}<br />
          {% endif %}
          <span class="price">
            {% if product.payed %}
              S/. 0.00  
              <span class="price-not-gonna-pay">S/. {{ product.price|stringformat:".2f" }}</span> 
              <span class="payed-product">Producto cancelado</span>
            {% else %}
              S/. {{ product.price|stringformat:".2f" }}
            {% endif %}
          </span>
        </div>
      </div>
    {% endfor %}
    
  </div>
  <div id="bottom" class="row">
    <div id="total-section" class="col-6 col-sm-8">
      Total<br />
      <div id="total">S/. {{ total|stringformat:".2f" }}</div>
    </div>
    <div id="button-box" class="col-6 col-sm-4"><button id="upload-button">SUBIR VOUCHER</button></div>
  </div>
</div>
