/* Formulario cambiar plan elegido */
#chosen-plan{
  padding: 2px 18px;
  font-weight:400;
  text-transform: capitalize;
}
#change-chosen-list {
    overflow-y: auto;
    height: 70vh;
}
/* Clases para estatus de los planes */

/* clase generica para aviso de advertencia en footer plan cliente. */
.warning-plan{
  background-color: orange;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  padding: 5px;
  font-size: 13px;
  text-align: center;
}

/* mensaje de que no posee plan activo */
.no-activeplan{
  background-color: #0a0c1c;
  color: white;
}

#activation-message {
  text-align: center;
  margin-bottom: 20px;
}

#pin-box {
}

#detail-section {
  width: 200px;
  margin-top: 20px;
}

#detail-title {
  color: var(--turquoise);
  margin-bottom: 10px;
}

#activate-button {
  color: var(--white);
  background: var(--turquoise);
  border: 1px solid #CCC;
  border-radius: 20px;
  box-shadow: 0 0 5px -1px var(--dark-blue);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#activate-button:disabled {
  background: var(--turquoise-opaque);
}

#response-message, .successful, .error {
  display: block;
  width: 100%;
  font-weight: bold;
  text-align: center;
}
