{% extends 'frontend/base.html' %}
{% load static %}
{% block content_left_slide %}
    {% url 'frontend:chat-specialist' pk=0 as urlchat%}
    <div class="info-div" data-urlchat='{{urlchat}}'>
        <div class="list-group" id="list_categories">
            <!--print categories-->
        </div>
    </div>
{% endblock content_left_slide %}
{% block scripts_custom %}
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://momentjs.com/downloads/moment-timezone.js"></script>
    <script src="{% static "frontend/specialist/js/messages-list.js" %}"></script>
{% endblock scripts_custom %}
