{% extends "frontend/actors/specialist/base_specialist.html" %}
{% load static %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "frontend/dist/css/chat.css" %}">
{% endblock %}

{% block main_content %}
    <div id="category" data-id="{{messages.0.query.category_id}}">
    </div>
    {% include 'frontend/chat.html' %}
{% endblock main_content %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static "frontend/dist/js/reconnecting-websocket.min.js" %}"></script>
  <script type="text/javascript">
      var token = '{{request.session.token}}';
      const URL_SEND_QUERY = '{% url "frontend:send-query" %}';
      const URL_UPLOAD_FILE_QUERY = '{% url "frontend:upload_file" %}';
  </script>
  <script src="{% static "frontend/dist/js/chat.js" %}"></script>
   <script src="{% static "frontend/dist/js/recorder.js" %}"></script>
  <script src="{% static "frontend/dist/js/upload_file.js" %}"></script>
  <script src="{% static "frontend/specialist/js/chat.js" %}"></script>
{% endblock %}
