#associates-list {
    background: var(--dark-blue);
    overflow-y: auto;
}

.associate {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid;
}

.associate-photo {
}

.main-info {
    color: var(--dark-gray);
}

.associate-name {
    color: var(--white);
    font-weight: bold;
}

.pending-to-solve {
    background: var(--turquoise);
    color: var(--white);
    width: 20px;
    height: 20px;
    border-radius: 70%;
    text-align: center;
}
