#img_cat {
    width: 4em;
    height: 4em;
}

/*SCROLL LEFT*/
.info-div {
    border: none;
    display:  flex;
    width:  100%;
}

/*FIN SCROLL*/
.cont {
    border: none;    
    padding-left: 11px;
}
.cont-item {
    display: table;
}

.itemp {
    display: table-cell;
    vertical-align: middle;
    font-size: 10px;
}

.date {
    float: right;
}

.orange {
    color: #dd4b39;
}

.green {
    color: #00a65a;
}

.red {
    color: #dd4b39;
}

.black {
    color: #0f0f0f;
}

.w {
    width: auto;
    display: table-cell;
    margin: auto;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#img_cat {
    margin-right: 5px;
}

div.list-group {
    margin-bottom:  0px;
    overflow-y: scroll;
    width: 100%;
}