{% extends 'admin/base.html' %}
{% load i18n %}


{% block main_content_row %}
    
    {% csrf_token %}  <!-- Token fuera del GET para evitar envios CRF desde el listado -->
    <form action="" method="GET">


        {% block filters_actor_top %}
        {% endblock filters_actor_top %}
        <div class="col-xs-12 marB10 cont-head-actor">
        	<div class="pull-left actors-cont-btn">
        		<a href="{% url 'dashboard:actor-specialists-list' %}" class="btn btn-flat btn-gray {{vars_page.btn_specialists_class}}">
                    {% trans "specialists"|title %}
                </a>
        		<a href="{% url 'dashboard:actor-clients-list' %}" class="btn btn-flat btn-gray {{vars_page.btn_clients_class}}">
                    {% trans "clients"|title %}
                </a>
        		<a href="{% url 'dashboard:actor-sellers-list' %}" class="btn btn-flat btn-gray {{vars_page.btn_sellers_class}}">
                    {% trans "sellers"|title %}
                </a>
        		<a href="{% url 'dashboard:actor-administrators-list' %}" class="btn btn-flat btn-gray {{vars_page.btn_administrators_class}}">
                    {% trans "administrators"|title %}
                </a>
        	</div>

        	<div class="pull-right">
        		<button type="button" class="btn btn-flat btn-black toggleFilter">{% trans "filter"|title %}</button>
                <a href="{% url vars_page.name_create_URL %}" class="btn btn-flat btn-black" >{% trans "add"|title %}</a>
        	</div>
        </div>
        {% block filters_actor %}
            
        {% endblock filters_actor %}

        <!-- Listado actores -->
        <div class="col-xs-12 marB10">
        	<div>{{tabla|safe}}</div>
        </div>
    </form>

{% endblock main_content_row %}