{% extends 'admin/base.html' %}
{% load i18n %}


{% block main_content_row %}
    <form action="" method="POST">
        {% csrf_token %}
    	<div class="col-xs-12 marB25 cont-search-actor" >          
          <button type="button" class="btn btn-flat btn-black pull-right">{% trans "seach"|title %}</button>
          <input type="text" name="" class="search col-xs-8 col-lg-4 pull-right flat marR15">
        </div>

        <div class="col-xs-12 marB10 cont-head-actor">
        	<div class="pull-left actors-cont-btn">
        		<a href="{% url 'dashboard:actor-specialists-list' %}" class="btn btn-flat btn-gray {{varsPage.btnSpecialistsClass}}">
                    {% trans "specialists"|title %}
                </a>
        		<a href="{% url 'dashboard:actor-clients-list' %}" class="btn btn-flat btn-gray {{varsPage.btnClientsClass}}">
                    {% trans "clients"|title %}
                </a>
        		<a href="{% url 'dashboard:actor-sellers-list' %}" class="btn btn-flat btn-gray {{varsPage.btnSellersClass}}">
                    {% trans "sellers"|title %}
                </a>
        		<a href="{% url 'dashboard:actor-administrators-list' %}" class="btn btn-flat btn-gray {{varsPage.btnAdministratorsClass}}">
                    {% trans "administrators"|title %}
                </a>
        	</div>

        	<div class="pull-right">
        		<button type="button" class="btn btn-flat btn-black">{% trans "filter"|title %}</button>
                <a href="{% url varsPage.nameCreateURL %}" class="btn btn-flat btn-black" >{% trans "add"|title %}</a>
        	</div>
        </div>
        <div class="col-xs-12 marB10">
        	<div>{{tabla|safe}}</div>
        </div>
    </form>

{% endblock main_content_row %}