{% extends 'admin/base.html' %}
{% load i18n static %}


{% block main_content_row %}

    <form class="" action="{% url 'dashboard:actor-specialists-create' %}" method="POST" >
        {% csrf_token %}
        
        {{ form.non_field_errors }}
        <div class="form-group input-form-control col-xs-12">
            {% include 'admin/lib/_frame_profile_img.html' %}
        </div>


        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            {{ form.username.errors }}
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            {{ form.nick.errors }}
            {{ form.nick.label_tag }}
            {{ form.nick }}
        </div>
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            {{ form.password.errors }}
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            {{ form.first_name.errors }}
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            {{ form.last_name.errors }}
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
        </div>
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            {{ form.email_exact.errors }}
            {{ form.email_exact.label_tag }}
            {{ form.email_exact }}
        </div>
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            {{ form.telephone.errors }}
            {{ form.telephone.label_tag }}
            {{ form.telephone }}
        </div>
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            {{ form.cellphone.errors }}
            {{ form.cellphone.label_tag }}
            {{ form.cellphone }}
        </div>
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            {{ form.document_type.errors }}
            {{ form.document_type.label_tag }}
            {{ form.document_type }}
        </div>
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            {{ form.document_number.errors }}
            {{ form.document_number.label_tag }}
            {{ form.document_number }}
        </div>
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            {{ form.ruc.errors }}
            {{ form.ruc.label_tag }}
            {{ form.ruc }}
        </div>        
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            {{ form.category.errors }}
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            {{ form.department.errors }}
            {{ form.department.label_tag }}
            {{ form.department }}
        </div>
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            {{ form.province.errors }}
            {{ form.province.label_tag }}
            {{ form.province }}
        </div>
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            {{ form.district.errors }}
            {{ form.district.label_tag }}
            {{ form.district }}
        </div>
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            {{ form.bussiness_name.errors }}
            {{ form.bussiness_name.label_tag }}
            {{ form.bussiness_name }}
        </div>
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            {{ form.type_specialist.errors }}
            {{ form.type_specialist.label_tag }}
            {{ form.type_specialist }}
        </div>
        <hr>
        <div class="col-xs-12 text-center">
            <input type="submit" name="submit" class="btn btn-lightBlue" value="{% trans 'save'|title %}">

            <a href="{% url 'dashboard:actor-specialists-list' %}" class="btn btn-default">{% trans 'go back'|title %}</a>
        </div>
    </form>
{% endblock main_content_row %}

















{% block extra_head %}
  <link rel="stylesheet" href='{% static "cropper/dist/cropper.css" %}' >
{% endblock extra_head %}


{% block extra_foot %}
  <script src='{% static "cropper/dist/cropper.min.js" %}' ></script>
  {% include 'admin/lib/_cropper.html' %}  
{% endblock extra_foot %}