{% extends 'admin/base.html' %}
{% load i18n static %}


{% block main_content_row %}

    <form class="" action="{{specialists_form}}" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}

        {{ form.non_field_errors }}
        <div class="form-group input-form-control col-xs-12">
            {% include 'admin/lib/_frame_profile_img.html' %}
        </div>

        {% if form.nick %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.nick.label_tag }}
                {{ form.nick.errors }}
                {{ form.nick }}
                
            </div>
        {% endif %}
        {% if form.password %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.password.label_tag }}
                {{ form.password.errors }}
                {{ form.password }}
                
            </div>
        {% endif %}
        {% if form.confirm_password %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.confirm_password.label_tag }}
                {{ form.confirm_password.errors }}
                {{ form.confirm_password }}
                
            </div>
        {% endif %}
        {% if form.first_name %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.first_name.label_tag }}
                {{ form.first_name.errors }}
                {{ form.first_name }}
                
            </div>
        {% endif %}
        {% if form.last_name %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.last_name.label_tag }}
                {{ form.last_name.errors }}
                {{ form.last_name }}
                
            </div>
        {% endif %}
        {% if form.email_exact %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.email_exact.label_tag }}
                {{ form.email_exact.errors }}
                {{ form.email_exact }}
                
            </div>
        {% endif %}
        {% if form.telephone %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.telephone.label_tag }}
                {{ form.telephone.errors }}
                {{ form.telephone }}
                
            </div>
        {% endif %}
        {% if form.cellphone %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.cellphone.label_tag }}
                {{ form.cellphone.errors }}
                {{ form.cellphone }}
                
            </div>
        {% endif %}

        {% if form.nationality %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.nationality.label_tag }}
                {{ form.nationality.errors }}
                {{ form.nationality }}
                
            </div>
        {% endif %}
        {% if form.residence_country %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.residence_country.label_tag }}
                {{ form.residence_country.errors }}
                {{ form.residence_country }}
                
            </div>
        {% endif %}



        {% if form.document_type %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.document_type.label_tag }}
                {{ form.document_type.errors }}
                {{ form.document_type }}
                
            </div>
        {% endif %}
        {% if form.document_number %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.document_number.label_tag }}
                {{ form.document_number.errors }}
                {{ form.document_number }}
                
            </div>
        {% endif %}

        {% if form.ruc %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.ruc.label_tag }}
                {{ form.ruc.errors }}
                {{ form.ruc }}
                
            </div>
        {% endif %}
        {% if form.business_name %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.business_name.label_tag }}
                {{ form.business_name.errors }}
                {{ form.business_name }}
                
            </div>
        {% endif %}
        {% if form.department %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.department.label_tag }}
                {{ form.department.errors }}
                {{ form.department }}
                
            </div>
        {% endif %}
        {% if form.province %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.province.label_tag }}
                {{ form.province.errors }}
                {{ form.province }}
                
            </div>
        {% endif %}
        {% if form.district %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.district.label_tag }}
                {{ form.district.errors }}
                {{ form.district }}
                
            </div>
        {% endif %}
        {% if form.street %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.street.label_tag }}
                {{ form.street.errors }}
                {{ form.street }}
                
            </div>
        {% endif %}
        {% if form.foreign_address %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.foreign_address.label_tag }}
                {{ form.foreign_address.errors }}
                {{ form.foreign_address }}
                
            </div>
        {% endif %}

        {% if form.category %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.category.label_tag }}
                {{ form.category.errors }}
                {{ form.category }}
                
            </div>
        {% endif %}
        
        
        {% if form.type_specialist %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.type_specialist.label_tag }}
                {{ form.type_specialist.errors }}
                {{ form.type_specialist }}
                
            </div>
        {% endif %}
        {% if form.payment_per_answer %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.payment_per_answer.label_tag }}
                {{ form.payment_per_answer.errors }}
                {{ form.payment_per_answer }}
                
            </div>
        {% endif %}

        {% if form.img_document_number %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.img_document_number.label_tag }}
                <label class="btn btn-primary btn-upload col-xs-12" for="{{ form.img_document_number.auto_id }}" title="Upload image file">
                    {{ form.img_document_number }}
                    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="Import image with Blob URLs">
                        <span class="fa fa-upload">&nbsp;{{ form.img_document_number.label_tag }}</span>
                    </span>
                </label>
                {{ form.img_document_number.errors }}
            </div>
        {% endif %}
        <hr>
        <div class="col-xs-12 text-center">
            <input type="submit" name="submit" class="btn btn-lightBlue" value="{% trans 'save'|title %}">

            <a href="{% url 'dashboard:actor-specialists-list' %}" class="btn btn-default">{% trans 'go back'|title %}</a>
        </div>
    </form>
{% endblock main_content_row %}

{% block extra_head %}
  <link rel="stylesheet" href='{% static "dashboard/cropper/dist/cropper.css" %}' >
{% endblock extra_head %}


{% block extra_foot %}
  <script src='{% static "dashboard/cropper/dist/cropper.min.js" %}' ></script>
  {% include 'admin/lib/_cropper.html' %}
  <script src='{% static "dashboard/dist/js/specialist.js" %}' ></script>
{% endblock extra_foot %}
