{% extends 'admin/base.html' %}
{% load static i18n %}

{% block main_content_row %}
    <div class="col-xs-12 marB25 cont-search-client" >          
      <button type="button" class="btn btn-flat btn-black pull-right">{% trans "search"|title %}</button>
      <input type="text" name="" placeholder="Busca por cualquier criterio (Nombre, Nick, Ubigeo,Etc)" class="search col-xs-8 col-lg-4 pull-right flat marR15">
    </div>

    <div class="col-xs-12">


        <div class="cont-info-user text-center padL40 padR40 pull-left marR15" >
          <img src="{% static "dist/img/lte/user2-160x160.jpg" %}" class="img-circle">
          <p>
            {% if data.first_name or data.lastname %}
              <span class="size18">{{data.first_name}} {{data.lastname}}</span>
            {% endif %}
            {% if data.email_exact %}
              <span>{{data.email_exact}}</span>
            {% endif %}
            {% if data.telephone %}
              <span>{{data.telephone}}</span>
            {% endif %}
            {% if data.cellphone %}
              <span>{{data.cellphone}}</span>
            {% endif %}
          </p>
        </div>


        <div class="cont-info-user text-left padL20 padR20 pull-left marR15" >
          <div class="cont-user-title">              
            <span class="">Datos</span>
            <a href="{% url 'dashboard:actor-specialists-edit' data.id %}" class="btn btn-flat btn-black pull-right">{% trans "edit"|title %}</a>
          </div>
          <p>
            {% if data.type_specialist %}
              <span><i class="fa fa-star"></i> {% trans "specialist"|title %} {% trans data.type_specialist|title %}</span>
            {% endif %}
            {% if data.ciiu %}
              <span><i class="fa fa-circle-o-notch"></i> CIIU: {{data.ciiu}}</span>
            {% endif %}
            {% if data.nationality %}
              <span><i class="fa fa-globe"></i> {{data.nationality}}</span> 
            {% endif %}
            {% if data.address %}
              <span><i class="fa fa-home"></i> {{data.address}}</span> 
            {% endif %}
            {% if data.category %}
              <span><i class="fa fa-briefcase"></i> {{data.category}} </span> 
            {% endif %}
            {% if data.bussiness_name %}
              <span><i class="fa fa-building"></i> {{data.bussiness_name}}</span> 
            {% endif %}

            {% if data.type_specialist == "main" %}
              <div class="text-center">
                <a href="{% url 'dashboard:actor-specialists-list' %}?main_specialist=2" class="btn btn-flat btn-black">{% trans "see associate specialists"|title %}</a>
              </div>
            {% elif data.type_specialist == "associate" and data.main_specialist %}
              <div class="text-center">
                <a href="{% url 'dashboard:actor-specialists-detail' data.main_specialist %}" class="btn btn-flat btn-black">{% trans "see main specialist"|title %}</a>
              </div>
            {% endif %}
            
          </p>
        </div>


        <div class="text-center pull-left" >
            <div>                
                <img src="{% static "dist/img/automatizacion.png" %}" class="img-circle">
                <p>
                  {% if data.category %}                
                    <span>{{data.category}}</span>            
                  {% endif %}
                </p>
            </div>
            <div class="cont-info-user text-left padL20 padR20" >          
              <p>
                {% if data.ruc %}                
                  <span>RUC: {{data.ruc}} </span>
                {% endif %}
                {% if data.web %}                
                  <span>{{data.web}} </span>
                {% endif %}
                {% if data.cv %}                
                  <span><i class="fa fa-globe"></i> {{data.cv}}</span>
                {% endif %}
                
                
                <span>Valoración 
                	<span>
        						<i class="fa fa-star yellow"></i>
        						<i class="fa fa-star yellow"></i>
        						<i class="fa fa-star yellow"></i>
        						<i class="fa fa-star yellow"></i>
        						<i class="fa fa-star"></i>
        					</span>
                </span>
              </p>
            </div>
            <div class="send-mail-backend">
              <div>
                <span><i class="fa fa-envelope-o"></i> {% trans "send a message"|title %}</span>              
              </div>
            </div>
        </div>

    </div>
    <hr>
  {% if data.personal_totals %}
    <div class="col-xs-12 col-md-6">
      <div class="tg-head">
      	<div class="tg-title pull-left">{% trans "personal"|title %}</div>
      </div>
      <div class="tg-history">
        {% for total in data.personal_totals %}
          <div class="block-center-flat {{total.type}}">
            <div class="bcf-body">
              <span class="bcf-title">{{total.amount}}</span>
              <span class="bcf-desc">{{total.name|title}}</span>
            </div>
          </div>
        {% endfor %}           
      </div>
    </div>
  {% endif %}
  {% if data.specialty_totals %}
  	<div class="col-xs-12 col-md-6">
  		<div class="tg-head">
  			<div class="tg-title pull-left">{% trans "specialty"|title %}</div>
  		</div>
  		<div class="tg-history">
  			{% for total in data.specialty_totals %}
          <div class="block-center-flat {{total.type}}">
            <div class="bcf-body">
              <span class="bcf-title">{{total.amount}}</span>
              <span class="bcf-desc">{{total.name|title}}</span>
            </div>
          </div>
        {% endfor %}     
  		</div>
  	</div>
  {% endif %}
  {% if data.alerts %}
    <div class="block-alert-user col-xs-12 marB25">
		  <h3>{% trans "dashboard"|title %}</h3>
      {% for alert in data.alerts %}
        <span class="{{alert.type}}">{{alert.text}}</span>
      {% endfor %} 
    </div>
  {% endif %}


  {% if data.bloked %}
    <div class="col-xs-12 text-center">
        <button type="button" class="btn btn-flat btn-black">{% trans data.bloked|title %}</button>
    </div>
  {% endif %} 

{% endblock main_content_row %}