# API_URL 			= 'http://ec2-34-236-250-113.compute-1.amazonaws.com:8000/'  # Red vivo
# API_CLIENT_ID 	= 'FUN5EkBD0iQo80i0JY0lF41Z0rjA0QtWKkV0BE02'
# API_CLIENT_SECRET = 'P7pj3QcE6G0hlS00UzJOJ8SRLlTGHYS0ESGr7QzlyK0uMsc4osaaStB6wS0GGxAelKjXv6xJ7p0Go8R5el2KaVlcM4050IeplkY2CW0xaOc9NI1f0KS9DoWxD0UbG4T0'
# API_HEADERS		= {'x-api-key': '90bd028513c2440f9c262c5c09c668e5'}
API_HEADERS			= {}

# DARWIN
# API_URL 			= 'http://192.168.1.7:8080/'
# API_CLIENT_ID 		= '2wsoY6KxlmhE9GvTa3zNXPUZon0FvkvTSq4w2do2'
# API_CLIENT_SECRET 	= 'kPGFTQXETkhxddp5x8WdFiO7LfL6LijVLkzTlFfo5lhWyo5AzbEIw7uJqvaErWDGtHUEsCNL4eUJJWQQmAerkHhjloJ90xHdluFzV9ERvokQuSxJfnc1vUf14AuwaKPM'

# DARWIN
# API_URL 			= 'http://192.168.1.7:8000/'
# API_CLIENT_ID 		= '2wsoY6KxlmhE9GvTa3zNXPUZon0FvkvTSq4w2do2'
# API_CLIENT_SECRET 	= 'kPGFTQXETkhxddp5x8WdFiO7LfL6LijVLkzTlFfo5lhWyo5AzbEIw7uJqvaErWDGtHUEsCNL4eUJJWQQmAerkHhjloJ90xHdluFzV9ERvokQuSxJfnc1vUf14AuwaKPM'



API_URL 			= 'http://localhost:9000/'  # Pc Local
API_CLIENT_ID 		= 'iyuB1zj2w5J7G4uiBOwIlnpTSIG0STnvNC2mPdTw'
API_CLIENT_SECRET 	= 'HIVa5VKTq8ps1N5VS3qerlvWE9auN1ijd9ZUJd8gCpu5dnobIMdAcU5RQUM4u6LabcXZa44GQbCw8YzixzqMW9D8CHymkWpdiPeJs5jagdnmVtRLIGPJrUXh8TsqaEHc'
