API_URL 			= 'https://6ff1eb9e-f9bb-4410-bb3d-fadcad284635.mock.pstmn.io/'
API_CLIENT_ID 		= 'FUN5EkBDdiQo8SixJYslF41ZkrjAhQtWKkV7BEE2'
API_CLIENT_SECRET 	= 'P7pj3QcE6GyhlS0QUzJOJ8SRLlTGHYSMESGr7QzlyKnuMsc4osaaStB6wSiGGxAelKjXv6xJ7p9Go8R5el2KaVlcM4P50IeplkY2CWHxaOc9NI1fLKS9DoWxD9UbG4TN'
API_HEADERS			= {'x-api-key': '90bd028513c2440f9c262c5c09c668e5'}