{% extends 'admin/base.html' %}
{% load i18n static adminlte_helpers %}


{% block main_content_row %}
   
      <div class="col-xs-12 marB10">

        <!-- Informacion del usuario -->
        {% block info_user %}
            {% if data.client %}
                <div class="col-xs-12">
                    <div class="cont-info-user text-center padL40 padR40 pull-left marR15 without-border" >
                      {% if data.client.photo and data.client.photo != "preview.png" %}
                        <img src="{{data.client.photo}}" class="img-circle">
                      {% else %}
                        <img src="{% static "dashboard/dist/img/profile.png" %}" class="img-circle">
                      {% endif %}

                    </div>
                    <div class="pull-left span-block padT10 marR15" >
                      
                        {% if data.client.first_name or data.client.last_name %}
                          <span class="size18">{{data.client.first_name}} {{data.client.last_name}}</span>
                        {% endif %}
                        {% if data.client.nick %}
                          <span>{% trans "nick"|title %} {{data.client.nick}}</span>
                        {% endif %}
                        {% if data.client.code %}
                          <span>{{data.client.code}}</span>
                        {% endif %}

                        {% if data.client.email_exact %}
                          <span>{{data.client.email_exact}}</span>
                        {% endif %}
                    </div>
                    <div class="pull-left span-block padT10 marR15" >

                        {% if data.client.cellphone %}
                          <span>{% trans "cellphone"|title %}: {{data.client.cellphone}}</span>
                        {% endif %}
                        {% if data.client.telephone %}
                          <span>{% trans "phone"|title %}: {{data.client.telephone}}</span>
                        {% endif %}
                     
                        {% if data.client.address %}
                          <span>
                            <i class="fa fa-home"></i>
                            {{data.client.address.street}} - 
                            {{data.client.address.department_name}} |
                            {{data.client.address.province_name}} | 
                            {{data.client.address.district_name}}
                          </span>
                        {% endif %}
                        {% if data.client.seller_asigned %}
                          <a href="{% url 'dashboard:actor-sellers-detail' data.client.seller_asigned %}" class="btn btn-flat btn-black pull-right">{% trans "seller"|title %}</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endblock info_user %}

        <!-- Detalle de la Venta -->
        {% block info_sale %}
        <div class="marT20 pull-left">
          <h2>{% trans "sale detail"|upfirstletter %}</h2>
          <div class="col-xs-12">
            <div class="span-block padT10 mar15" >
              <div class="pull-left marR15">
                <span class="bold">
                  {% trans "date"|title %}: 
                </span>
                <span>
                  {{data.sale.detail.created_at|datetime_format_to_view}}
                </span>
              </div>
              <div class="pull-left marR15">
                <span class="bold">
                  {% trans "total"|title %}: 
                </span>
                <span>
                  {{data.sale.detail.total_amount}}
                </span>
              </div>
              <div class="pull-left marR15">
                <span class="bold">
                  {% trans "fee"|title %}: 
                </span>
                <span>
                  {{data.sale.detail.is_fee|bolean_translate|title}}
                </span>
              </div>
            </div>

            <hr>
            {% for product in data.sale.products %}
              <div class="pull-left mar15">
                <div >
                  <span class="bold">{% trans "product type"|title %}: 
                  </span>
                  <span>
                  {{product.product_type_name}}</span>
                </div>

                {% if product.product_type == 1 %}
                    <div>
                      <span>{{product.attribute_product.plan_name}}</span>
                    </div>
                    <div> 
                      <span class="bold">{% trans "validity"|title %}: 
                      </span>
                      <span>
                        {{product.attribute_product.validity_months}}
                      {% trans "months"|title %}</span>
                    </div>
                    <div>
                      <span>{{product.attribute_product.query_quantity}} {% trans "queries"|title %}</span>
                    </div>
                {% endif %}

                <div>
                  <span class="bold">{% trans "price"|title %}: 
                      </span>
                  <span>{{product.price}}</span>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        {% endblock info_sale %}
      </div>


      <!-- Form Payment Fee -->
      <h2>{% trans "payment information"|upfirstletter %} 
          {% if not data.sale.detail.is_fee %}
            | {% trans "single fee"|upfirstletter %}
          {% endif %}
      </h2>

      
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            <label>{% trans "fee quantity"|upfirstletter %}:</label>
            <input type="text" disabled value="{{data.fee_quantity}}">
        </div>
    
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            <label>{% trans "fee number"|upfirstletter %}:</label>
            <input type="text" disabled value="{{data.fee_order_number}}">
        </div>
    
        <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
            <label>{% trans "fee amount"|upfirstletter %}:</label>
            <input type="text" disabled value="{{data.fee_amount}}">
        </div>
        <div class="col-xs-12"></div>

      <form action="{{sellers_form}}" method="POST" >
        {% csrf_token %}
        {% if form.amount %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.amount.label_tag }}
                {{ form.amount.errors }}
                {{ form.amount }}
            </div>
        {% endif %}
        {% if form.bank %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.bank.label_tag }}
                {{ form.bank.errors }}
                {{ form.bank }}
            </div>
        {% endif %}
        {% if form.operation_number %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.operation_number.label_tag }}
                {{ form.operation_number.errors }}
                {{ form.operation_number }}
            </div>
        {% endif %}
        {% if form.observations %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.observations.label_tag }}
                {{ form.observations.errors }}
                {{ form.observations }}
            </div>
        {% endif %}

        {% if form.payment_type %}
            <div class="form-group input-form-control col-xs-12 col-sm-6 col-md-3">
                {{ form.payment_type.label_tag }}
                {{ form.payment_type.errors }}
                {{ form.payment_type }}
            </div>
        {% endif %}
        
        {% if form.monthly_fee %}
            {{ form.monthly_fee }}
        {% endif %}

        <div class="col-xs-12 text-center">
            <input type="submit" name="submit" class="btn btn-lightBlue" value="{% trans 'save'|title %}">

            <a href="{% url 'dashboard:payments-pending' %}" class="btn btn-default">{% trans 'go back'|title %}</a>
        </div>
      </form>

{% endblock main_content_row %}


{% block extra_foot %}
  <script src='{% static "dashboard/dist/js/payment.js" %}' ></script>
{% endblock extra_foot %}
